.containerList {
    width: 100%;
    height: 25%;
    background: #2f4c8f;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    position: relative;
    padding: 10px;
}

.linkContainer {
    width: 40px;
    height: 85%;
    background-color: #183883;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    right: 0;
    position: absolute;
    margin-right: 10px;
}

.containerTitle {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-right: 20px;
    padding: 10px;
}

.containerTitle img {
    width: auto;
    height: 88px;
    object-fit: cover;
}

.containerDescription h4 {
    color: black;
    text-decoration: underline;
}

.containerDescription p {
    color: black;
    font-size: 14px;
}

.title {
    margin-bottom: 10px;
    color: black;
    font-size: 25px;
}

.linkContainer:hover {
    cursor: pointer;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 720px) {
    .containerList {
        width: 100%;
        height: 25%;
        background: #2f4c8f;
        margin: 10px;
        border-radius: 8px;
        display: flex;
        position: relative;
        padding: 10px;
    }
    .linkContainer {
        width: 29px;
        height: 29px;
        background-color: #183883;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        right: 0;
        position: absolute;
        margin-right: 10px;
    }
    .containerTitle {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-right: 20px;
        padding: 10px;
    }
    .containerTitle img {
        width: auto;
        height: 88px;
        object-fit: cover;
    }
    .containerDescription h3 {
        margin-bottom: 2%;
    }
}