.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opc {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.Link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: #0066ff;
    color: var(--white);
    width: 11rem;
    height: 3rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter .2s;
}

.Link:hover {
    filter: brightness(0.8);
}

.Link:first-child {
    background: #6c6aff;
}

.Link:nth-child(2) {
    background: brown;
}