#buttonSelectAdmin {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

aside.app-sidebar {
    position: fixed;
    height: 100%;
    width: 15%;
    padding: 25px 15px;
    background: linear-gradient(329.54deg, #183883 0%, #5d74a8 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 0 1em rgba(0, 0, 0, 0.22);
}

.button-img img {
    width: 100%;
    max-width: 150px;
}

aside.app-sidebar-adm {
    position: fixed;
    height: 100%;
    width: 15.2%;
    padding: 25px 15px;
    background: linear-gradient(329.54deg, #183883 0%, #5d74a8 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 0 1em rgba(0, 0, 0, 0.22);
}

aside.app-sidebar-adm p.icon2 {
    display: block;
    width: 48px;
    height: 48px;
    border: 0;
    background: #46609c;
    border-radius: 16px;
    cursor: pointer;
    transition: filter 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7%;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button-img {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

aside.app-sidebar-adm p.icon2:hover {
    background-color: #183883;
}

.button2 {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    color: white;
    background-color: #183883;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 2rem;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button1:hover[id="btn"] {
    cursor: pointer;
    background-color: #2f4c8f;
}

.button1 {
    outline: none;
    border: none;
    border-radius: 0.3rem;
    color: white;
    background-color: #2f4c8f;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 2rem;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media screen and (max-width: 720px) {
    aside.app-sidebar {
        position: absolute;
        height: 5px;
        width: 100%;
        padding: 35px 15px;
        background: linear-gradient(329.54deg, #183883 0%, #5d74a8 100%);
        display: flex;
        flex-direction: row;
        justify-content: none;
        align-items: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .button-img {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: none;
        align-items: none;
        width: 50px;
    }
    aside.app-sidebar-adm {
        position: absolute;
        height: 5px;
        width: 100%;
        padding: 35px 15px;
        background: linear-gradient(329.54deg, #183883 0%, #5d74a8 100%);
        display: flex;
        flex-direction: row;
        justify-content: none;
        align-items: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .button2 {
        position: relative;
        top: 0;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 0.3rem;
        width: 20%;
        font-size: 15px;
        height: 50px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    .button1 {
        position: relative;
        top: 0;
        outline: none;
        border: none;
        border-radius: 0.3rem;
        color: white;
        width: 20%;
        font-size: 15px;
        height: 50px;
        padding: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    aside.app-sidebar-adm p.icon2 {
        height: 30px;
        position: absolute;
        right: 10px;
        top: 20px;
        border-radius: 5px;
    }
}